<div id="content" class="app-content">
    <div class="container">
       <div class="row justify-content-center">
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Quản lý</a></li>
             <li class="breadcrumb-item active">Điểm</li>
          </ul>
          <hr class="mb-4" />
        </div>
        <form *ngIf="check" role="form" [formGroup]="formds"  (ngSubmit)="LayDS()">
          <div class="row">
              <div class="col-md-4">
              <label class="col-md-4 col-form-label">Chọn lớp</label>
              <div class="col-md-8">
                  <select formControlName="MaLop" class="form-control">
                  <option *ngFor="let lh of lophocs" value="{{lh.maLopHoc}}">{{lh.tenlophoc}}</option>
                  </select>
              </div>
              </div>
              <div class="col-md-4">
              <label class="col-md-4 col-form-label">Môn học</label>
              <div class="col-md-8">
                <select formControlName="MonHoc" class="form-control">
                <option *ngFor="let mh of monhocs" value="{{mh.maMonHoc}}">{{mh.tenMonHoc}}</option>
                </select>
            </div>
              </div>
          
              <div class="col-md-2">
              <button (click)="LayDS()" class="btn btn-info">Gửi</button>
              </div>
        </div>
        </form>

          <form *ngIf="isCreate" [formGroup]="formDiem" role="form"  (ngSubmit)="onSubmit(formDiem.value)" class="form-horizontal">
            <div class="table-responsive">
                <div formArrayName="DSDiem" >
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>TT</th>
                            <th>Mã học sinh</th>
                            <th>Tên học sinh</th>
                            <th>Giới tính</th>
                            <th>Điểm Miệng</th>
                            <th>Điểm 15 phút</th>
                            <th>Điểm 1 tiết</th>
                            <th>Điểm học kỳ</th>
                        </tr>
                    </thead>
                    <tbody>
                            <ng-container *ngFor="let item of formDiem.get('DSDiem').controls; let i = index;">
                                <tr [formGroupName]="i">
                                    <td>{{i+1}}</td>
                                    <td><input type="text" class="form-control" size="6" formControlName="MaHS" readonly></td>
                                    <td><input type="text" class="form-control"  formControlName="TenHS"readonly></td>
                                    <td><input type="text" class="form-control" size="2" formControlName="GioiTinh" readonly></td>
                                    <td><input type="text" class="form-control" size="5" formControlName="DiemMieng" placeholder=""></td>
                                    <td><input type="text" class="form-control" size="5" formControlName="Diem15Phut" placeholder=""></td>
                                    <td><input type="text" class="form-control" size="5" formControlName="Diem1Tiet" placeholder=""></td>
                                    <td><input type="text" class="form-control" size="5" formControlName="DiemHocKy" placeholder=""></td>
                                    <!-- <td><input type="text" class="form-control" size="5" name="{{'DiemMieng'+i}}"ngModel placeholder=""></td>
                                    <td><input type="text" class="form-control"size="5" name="{{'Diem15phut'+i}}"ngModel placeholder=""></td>
                                    <td><input type="text" class="form-control"size="5" name="{{'Diem1Tiet'+i}}"ngModel placeholder=""></td>
                                    <td><input type="text" class="form-control"size="5" name="{{'DiemHK'+i}}"ngModel placeholder=""></td> -->
                                    
                                </tr>
                            </ng-container>
                        
                    </tbody>
                </table>
            </div>
            </div>
            
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info">Gửi</button>
                </div>
          </form>
       
    </div>
</div>
