<div id="content" class="app-content">
    <div class="container">
       <div class="row justify-content-center">
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Quản lý</a></li>
             <li class="breadcrumb-item active">Điểm</li>
          </ul>
          <hr class="mb-4" />
        </div>
        <form *ngIf="check" role="form" [formGroup]="formds"  (ngSubmit)="LayDS()">
          <div class="row">
              <div class="col-md-4">
              <label class="col-md-4 col-form-label">Chọn lớp</label>
              <div class="col-md-4">
                  <select formControlName="MaLop" class="form-control">
                  <option *ngFor="let lh of lophocs" value="{{lh.maLopHoc}}">{{lh.tenlophoc}}</option>
                  </select>
              </div>
              </div>
              <div class="col-md-4">
              <label class="col-md-4 col-form-label">Môn học</label>
              <div class="col-md-4">
                <select formControlName="MonHoc" class="form-control">
                <option *ngFor="let mh of monhocs" value="{{mh.maMonHoc}}">{{mh.tenMonHoc}}</option>
                </select>
            </div>
              </div>
          
              <div class="col-md-2">
              <button (click)="LayDS()" class="btn btn-info">Gửi</button>
              </div>
        </div>
        </form>

          <form *ngIf="isCreate" [formArrayName]="formdata" (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>TT</th>
                            <th>Mã học sinh</th>
                            <th>Tên học sinh</th>
                            <th>Giới tính</th>
                            <th>Điểm Miệng</th>
                            <th>Điểm 15 phút</th>
                            <th>Điểm 1 tiết</th>
                            <th>Điểm học kỳ</th>
                        </tr>
                    </thead>
                    <tbody id="lh-list" name="lh-list">
                          <tr *ngFor="let hs of hocsinhs, let i= index" id="hs{{hs.maHS}}"> 
                              <td>{{i+1}}</td>
                              <td>{{ hs.maHS }}</td>
                              <td>{{ hs.tenHS }}</td>
                              <td>{{ hs.gioiTinh }}</td>
                              <td><input type="text" class="form-control" size="5" formControlName="DiemMieng{{i}}" value="" placeholder=""></td>
                              <td><input type="text" class="form-control"size="5" formControlName="Diem15phut{{i}}" value="" placeholder=""></td>
                              <td><input type="text" class="form-control"size="5" formControlName="Diem1Tiet{{i}}" value="" placeholder=""></td>
                              <td><input type="text" class="form-control"size="5" formControlName="DiemHK{{i}}" value="" placeholder=""></td>
                          </tr>
                    </tbody>
                </table>
            </div>
            
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info">Gửi</button>
                </div>
          </form>
       
    </div>
</div>
