<header id="header" class="app-header">
    <div class="mobile-toggler">
       <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
       <span class="bar"></span>
       <span class="bar"></span>
       </button>
    </div>
    <div class="brand">
       <div class="desktop-toggler">
          <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
          <span class="bar"></span>
          <span class="bar"></span>
          </button>
       </div>
       <a href="#" class="brand-logo">
       <img src="./assets/img/logo1.jpg" height="50px" /> <span style="font-size: 13px;"> Trường THPT Đa Phúc</span>
       </a>
    </div>
    <div class="menu">
       <form class="menu-search" method="POST" name="header_search_form">
          <div class="menu-search-icon"><i class="fa fa-search"></i></div>
          <div class="menu-search-input">
             <input type="text" class="form-control" placeholder="Search menu..." />
          </div>
       </form>
       <div class="menu-item dropdown">
          <a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
             <div class="menu-img online">
                <img src="assets/img/user/admin.jpg" alt="" class="mw-100 mh-100 rounded-circle" />
             </div>
             <div class="menu-text"><span class="__cf_email__" data-cfemail="027167636c766a676f6742656f636b6e2c616d6f"></span></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right mr-lg-3">
             <a class="dropdown-item d-flex align-items-center" href="#">Đổi mật khẩu <i class="fa fa-user-circle fa-fw ml-auto text-gray-400 f-s-16"></i></a>
             <a class="dropdown-item d-flex align-items-center" (click)="logout()">Log Out <i class="fa fa-toggle-off fa-fw ml-auto text-gray-400 f-s-16"></i></a>
          </div>
       </div>
    </div>
 </header>
 