<header id="header" class="app-header">
    <div class="mobile-toggler">
       <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
       <span class="bar"></span>
       <span class="bar"></span>
       </button>
    </div>
    <div class="brand">
       <div class="desktop-toggler">
          <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
          <span class="bar"></span>
          <span class="bar"></span>
          </button>
       </div>
       <a href="#" class="brand-logo">
       <img src="./assets/img/logo1.jpg" height="50px" /> <span style="font-size: 13px;"> Trường THPT Đông Kết</span>
       </a>
    </div>
    <div class="menu">
       <form class="menu-search" method="POST" name="header_search_form">
       </form>
       <div class="menu-item dropdown">
          <a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
             <div class="menu-img online">
                <img src="assets/img/user/admin.jpg" alt="" class="mw-100 mh-100 rounded-circle" />
             </div>
             <div class="menu-text"><span class="__cf_email__" data-cfemail="027167636c766a676f6742656f636b6e2c616d6f"></span></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right mr-lg-3">
             <a class="dropdown-item d-flex align-items-center" (click)="openUpdateModal()">Đổi mật khẩu <i class="fa fa-user-circle fa-fw ml-auto text-gray-400 f-s-16"></i></a>
             <a class="dropdown-item d-flex align-items-center" (click)="logout()">Log Out <i class="fa fa-toggle-off fa-fw ml-auto text-gray-400 f-s-16"></i></a>
          </div>
       </div>
    </div>
 </header>

 <div *ngIf="ShowModal" id="updateUserModal" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg full-height-modal">
     <div class="modal-content">
       <div class="modal-header">
         <h4  class="modal-title">Đổi mật khẩu</h4>
       </div>
       <form *ngIf="doneSetup" [formGroup]="formUser"  (ngSubmit)="onSubmit(formUser.value)" class="form-horizontal utehy-form">
         <div class="modal-body no-padding">
          <div class="row mb-n3">
            <div class="col-md-6 mb-3">
               <label>Mật khẩu cũ</label>
               <input type="password" class="form-control"  formControlName="oldPassWord" required="">
               <div *ngIf="submitted && fr.oldPassWord.errors" class="d-flex invalid-feedback">
                 <div *ngIf="fr.oldPassWord.errors.matkhaulength">Ít nhất phải 6 ký tự</div>
                 <div *ngIf="fr.oldPassWord.errors.matkhau">Mật khẩu không đúng</div>
               </div>
            </div>
            <div class="col-md-6 mb-3">
               <label >Mật khẩu mới</label>
               <input type="password" class="form-control" formControlName="newPassWord" required="">
               <div *ngIf="submitted && fr.newPassWord.errors" class="d-flex invalid-feedback">
                 <div *ngIf="fr.newPassWord.errors.required">Không được để trống</div>
                 <div *ngIf="fr.newPassWord.errors.minlength">Mật khẩu ít nhất phải 6 ký tự</div>
               </div>
            </div>
            <div class="col-md-6 mb-3">
             <label >Nhập lại</label>
             <input type="password" class="form-control"  formControlName="newPassWord1" required="">
             <div *ngIf="submitted && fr.newPassWord1.errors" class="d-flex invalid-feedback">
               <div *ngIf="fr.newPassWord1.errors.required">Mật khẩu là bắt buộc</div>
               <div *ngIf="fr.newPassWord1.errors.mustMatch">Mật khẩu không trùng khớp</div>
              </div>
          </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default btn-sm" (click)="ResetModal()">
           <i class="fa fa-bell"></i> Làm mới
         </button>
         <button type="submit" class="btn btn-success btn-sm btn-submit">
           <i class="fa fa-save"></i> Đồng ý
         </button>
         <button type="button" class="btn btn-default btn-sm" (click)="Close()">
           <i class="fa fa-times"></i> Đóng lại
         </button>
       </div>
     </form>  
     </div>
   </div>
 </div>
 