<div id="content" class="app-content">
    <h1 class="page-header mb-3">
       Chào, {{tentk}}. <small>Đây là những gì có trong hôm nay.</small>
    </h1>
    <div class="row">
       <div class="col-xl-12">
          <div class="row">
             <div class="col-sm-6">
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-orange" style="min-height: 202px;">
                   <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                      <img src="./assets/img/icon/order.svg" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                   </div>
                   <div class="card-body position-relative">
                      <h5 class="text-white-transparent-8 mb-3 fs-16px">Số học sinh</h5>
                      <h3 class="text-white mt-n1">200</h3>
                      <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                         <div class="progrss-bar progress-bar-striped bg-white" style="width: 10%"></div>
                      </div>
                      <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-up"></i> 16% tăng <br />so với năm trước</div>
                      <div><a [routerLink]="['/hocsinh']" class="text-white d-flex align-items-center text-decoration-none">Xem danh sách học sinh<i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                   </div>
                </div>
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-teal" style="min-height: 202px;">
                   <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                      <img src="./assets/img/icon/visitor.svg" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                   </div>
                   <div class="card-body position-relative">
                      <h5 class="text-white-transparent-8 mb-3 fs-16px">Giáo viên</h5>
                      <h3 class="text-white mt-n1">10</h3>
                      <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                         <div class="progrss-bar progress-bar-striped bg-white" style="width: 13%"></div>
                      </div>
                      <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-up"></i> 13% tăng <br /> so với năm trước</div>
                      <div><a [routerLink]="['/giaovien']" class="text-white d-flex align-items-center text-decoration-none">Xem danh sách giáo viên<i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                   </div>
                </div>
             </div>
             <div class="col-sm-6">
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-pink" style="min-height: 202px;">
                   <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                      <img src="./assets/img/icon/paypal.svg" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                   </div>
                   <div class="card-body position-relative">
                      <h5 class="text-white-transparent-8 mb-3 fs-16px">Số lớp học</h5>
                      <h3 class="text-white mt-n1">15</h3>
                      <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                         <div class="progrss-bar progress-bar-striped bg-white" style="width: 5%"></div>
                      </div>
                      <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-down"></i> 5% tăng <br />so với năm trước</div>
                      <div><a [routerLink]="['/lophoc']" class="text-white d-flex align-items-center text-decoration-none">Xem danh sách lớp học <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                   </div>
                </div>
                <div class="card mb-3 overflow-hidden fs-13px border-0 bg-gradient-custom-indigo" style="min-height: 202px;">
                   <div class="card-img-overlay mb-n4 mr-n4 d-flex" style="bottom: 0; top: auto;">
                      <img src="./assets/img/icon/brower.svg" class="ml-auto d-block mb-n3" style="max-height: 105px" />
                   </div>
                   <div class="card-body position-relative">
                      <h5 class="text-white-transparent-8 mb-3 fs-16px">Môn học</h5>
                      <h3 class="text-white mt-n1">9</h3>
                      <div class="progress bg-black-transparent-5 mb-2" style="height: 6px">
                         <div class="progrss-bar progress-bar-striped bg-white" style="width: 0%"></div>
                      </div>
                      <div class="text-white-transparent-8 mb-4"><i class="fa fa-caret-up"></i> 0% tăng <br />so với tuần trước</div>
                      <div><a href="#" class="text-white d-flex align-items-center text-decoration-none">Xem danh sách môn học <i class="fa fa-chevron-right ml-2 text-white-transparent-5"></i></a></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
</div>