<div id="content" class="app-content">
    <div class="container">
       <div class="row justify-content-center">
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Quản lý</a></li>
             <li class="breadcrumb-item active">Điểm</li>
          </ul>
          <hr class="mb-4" />
        </div>
        <form *ngIf="check" role="form" [formGroup]="formds"  (ngSubmit)="LayDS()">
          <div class="row">
              <div class="col-md-4">
              <label class="col-md-4 col-form-label">Chọn lớp</label>
              <div class="col-md-8">
                  <select formControlName="MaLop" class="form-control">
                    <option *ngFor="let lh of lophocs" value="{{lh.maLopHoc}}">{{lh.tenlophoc}}</option>
                  </select>
              </div>
              </div>
              <div class="col-md-4">
              <label class="col-md-4 col-form-label">Môn học</label>
              <div class="col-md-8">
                <select formControlName="MonHoc" class="form-control">
                <option *ngFor="let mh of monhocs" value="{{mh.maMonHoc}}">{{mh.tenMonHoc}}</option>
                </select>
            </div>
              </div>
          
              <div class="col-md-2">
              <button (click)="LayDS()" class="btn btn-info">Gửi</button>
              </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="col-md-6 col-form-label">Chọn học kỳ: </label>
                <div class="col-md-4">
                    <select formControlName="HocKy" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <label class="col-md-6 col-form-label">Chọn năm học: </label>
                <div class="col-md-4">
                    <select formControlName="NamHoc" class="form-control">
                        <option value="2018">2018-2019</option>
                        <option value="2019">2019-2010</option>
                        <option value="2021">2020-2021</option>
                    </select>
                </div>
            </div>
        </div>
        </form>

          <form *ngIf="isCreate" [formGroup]="formDiem" role="form"  (ngSubmit)="onSubmit(formDiem.value)" class="form-horizontal">
            <div class="table-responsive">
                <div formArrayName="DSDiem" >
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>TT</th>
                            <th>Mã học sinh</th>
                            <th>Tên học sinh</th>
                            <th>Mã điểm</th>
                            <th>Điểm Miệng</th>
                            <th>Điểm 15 phút</th>
                            <th>Điểm 1 tiết</th>
                            <th>Điểm học kỳ</th>
                        </tr>
                    </thead>
                    <tbody>
                            <ng-container *ngFor="let item of formDiem.get('DSDiem').controls; let i = index;">
                                <tr [formGroupName]="i">
                                    <td>{{i+1}}</td>
                                    <td><input type="text" class="form-control" style="background: none;" size="8" formControlName="MaHS" readonly></td>
                                    <td><input type="text" class="form-control" style="background: none;"  formControlName="TenHS"readonly></td>
                                    <td><input type="text" class="form-control" style="background: none;"  formControlName="MaDiem"readonly></td>
                                    <td>
                                        <input type="text" class="form-control" size="5" formControlName="DiemMieng" placeholder="">
                                        <div *ngIf="submitted && DSDiemList.controls[i].controls.DiemMieng.errors" class="d-flex invalid-feedback">
                                            <div *ngIf="DSDiemList.controls[i].controls.DiemMieng.errors.diem">Dữ liệu không đúng</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" size="5" formControlName="Diem15Phut" placeholder="">
                                        <div *ngIf="submitted && DSDiemList.controls[i].controls.Diem15Phut.errors" class="d-flex invalid-feedback">
                                            <div *ngIf="DSDiemList.controls[i].controls.Diem15Phut.errors.diem">Dữ liệu không đúng</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" size="5" formControlName="Diem1Tiet" placeholder="">
                                        <div *ngIf="submitted && DSDiemList.controls[i].controls.Diem1Tiet.errors" class="d-flex invalid-feedback">
                                            <div *ngIf="DSDiemList.controls[i].controls.Diem1Tiet.errors.diem">Dữ liệu không đúng</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" size="5" formControlName="DiemHocKy" placeholder="">
                                        <div *ngIf="submitted && DSDiemList.controls[i].controls.DiemHocKy.errors" class="d-flex invalid-feedback">
                                            <div *ngIf="DSDiemList.controls[i].controls.DiemHocKy.errors.diem">Dữ liệu không đúng</div>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </ng-container>
                        
                    </tbody>
                </table>
            </div>
            </div>
            
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info">Gửi</button>
                </div>
          </form>
       
    </div>
</div>
