<sidebar id="sidebar" class="app-sidebar">
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
       <div class="menu">
         <ng-container *ngIf="role=='Admin'|| role=='User'">
          <div class="menu-header">Navigation</div>
          <div class="menu-item active">
             <a [routerLink]="['/']" class="menu-link">
             <span class="menu-icon"><i class="fa fa-laptop"></i></span>
             <span class="menu-text">Dashboard</span>
             </a>
          </div>
         </ng-container>
          <ng-container *ngIf="role=='Admin'">
            <div class="menu-item">
               <a [routerLink]="['/hocsinh']"  class="menu-link">
               <span class="menu-icon"><i class="fa fa-graduation-cap"></i></span>
               <span class="menu-text">Học sinh</span>
               </a>
            </div>
         </ng-container>
         <ng-container *ngIf="role=='Admin'">
          <div class="menu-item">
            <a [routerLink]="['/giaovien']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-users"></i></span>
            <span class="menu-text">Giáo viên</span>
            </a>
         </div>
         <div class="menu-item">
            <a [routerLink]="['/monhoc']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-file-alt"></i></span>
            <span class="menu-text">Môn học</span>
            </a>
         </div>
         <!-- <ng-container *ngIf="role=='Admin'"> -->
         <div class="menu-item">
            <a [routerLink]="['/lophoc']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-table"></i></span>
            <span class="menu-text">Lớp học</span>
            </a>
         </div>
      </ng-container>
      <ng-container *ngIf="role=='Admin'|| role=='User'">
         <div class="menu-item has-sub expand">
            <a href="#" class="menu-link">
            <span class="menu-icon"><i class="fa fa-book"></i></span>
            <span class="menu-text">Xem điểm</span>
            <span class="menu-caret"><b class="caret"></b></span>
            </a>
            <div class="menu-submenu" >
               <div class="menu-item">
                  <a [routerLink]="['/xemdiemtheolop']"  class="menu-link">
                     <span class="menu-text">Xem điểm trung bình</span>
                  </a>
               </div>
               <div class="menu-item">
                  <a [routerLink]="['/xemdiemtheomon']"  class="menu-link">
                     <span class="menu-text">Xem điểm theo môn</span>
                  </a>
               </div>
            </div>
         </div>

      </ng-container>
      <ng-container *ngIf="role=='User'">
         <div class="menu-item">
            <a [routerLink]="['/diemdanh']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-address-book"></i></span>
            <span class="menu-text">Điểm danh</span>
            </a>
         </div>
      </ng-container>
      <ng-container *ngIf="role=='Admin'|| role=='User'">
         <div class="menu-item has-sub expand">
            <a href="#" class="menu-link">
            <span class="menu-icon"><i class="fa fa-qrcode"></i></span>
            <span class="menu-text">Điểm</span>
            <span class="menu-caret"><b class="caret"></b></span>
            </a>
            <div class="menu-submenu" >
               <div class="menu-item">
                  <a [routerLink]="['/diem']"  class="menu-link">
                     <span class="menu-text">Thêm điểm</span>
                  </a>
               </div>
               <ng-container *ngIf="role=='Admin'">
                  <div class="menu-item">
                     <a [routerLink]="['/suadiem']"  class="menu-link">
                        <span class="menu-text">Sửa điểm</span>
                     </a>
                  </div>
             </ng-container>
            </div>
         </div>

      </ng-container>
      <ng-container *ngIf="role=='Admin'">
         <div class="menu-item">
            <a [routerLink]="['/user/user']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-user-circle"></i></span>
            <span class="menu-text">Tài khoản</span>
            </a>
         </div>
         <div class="menu-item has-sub expand">
            <a href="#" class="menu-link">
            <span class="menu-icon"><i class="fa fa-tasks"></i></span>
            <span class="menu-text">Thống kê</span>
            <span class="menu-caret"><b class="caret"></b></span>
            </a>
            <div class="menu-submenu" >
               <div class="menu-item">
                  <a [routerLink]="['/thongke/top10diem']"  class="menu-link">
                     <span class="menu-text">Top điểm</span>
                  </a>
               </div>
               <div class="menu-item">
                  <a [routerLink]="['/thongke/diemtb']"  class="menu-link">
                     <span class="menu-text">Điểm trung bình</span>
                  </a>
               </div>
               <div class="menu-item">
                  <a [routerLink]="['/thongke/diemtbkyhoc']"  class="menu-link">
                     <span class="menu-text">Tỉ lệ học sinh</span>
                  </a>
               </div>
            </div>
         </div>
      </ng-container>
      <ng-container *ngIf="role=='Student'">
         <div class="menu-item">
            <a [routerLink]="['/xemdiem']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-address-book"></i></span>
            <span class="menu-text">Xem điểm</span>
            </a>
         </div>
         <div class="menu-item">
            <a [routerLink]="['/xemdiemhk']"  class="menu-link">
            <span class="menu-icon"><i class="fa fa-qrcode"></i></span>
            <span class="menu-text">Tra điểm học kỳ</span>
            </a>
         </div>
      </ng-container>
       </div>
    </div>
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
 </sidebar>