<div id="content" class="app-content">
    <div class="container">
       <div class="row justify-content-center">
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Xem điểm theo môn</a></li>
             <li class="breadcrumb-item active">Bảng điểm</li>
          </ul>
          <hr class="mb-4" />
          <div class="nav-search mt-4">
             <p class="pull-right no-margin">
                <select  (change)="changedLop($event.target.value)" class="form-control">
                    <ng-container *ngFor="let lh of lophocs">
                        <option value="{{lh.maLopHoc}}">{{lh.tenlophoc}}</option>
                    </ng-container>
                </select>
             </p>
          </div>
          <div class="nav-search mt-4 ml-5">
             <p class="pull-right no-margin">
                <select (change)="changedMon($event.target.value)" class="form-control col-sm-8" >
                    <ng-container *ngFor="let mh of monhocs">
                        <option value="{{mh.maMonHoc}}">{{mh.tenMonHoc}}</option>
                    </ng-container>
                </select>
             </p>
          </div>
          <div class="nav-search mt-4 mr-4">
             <p class="pull-right no-margin">
                <select  (change)="changedKy($event.target.value)" class="form-control">
                   <option  value="12019">Kỳ 1 năm học 2019-2020</option>
                   <option  value="22019" selected>Kỳ 2 năm học 2019-2020</option>
                   <option  value="12021">Kỳ 1 năm học 2020-2021</option>
                   <option  value="22021" >Kỳ 2 năm học 2020-2021</option>
                </select>
             </p>
          </div>
       </div>
        <div class="rows form-group text-center">
            <h2><b>DANH SÁCH ĐIỂM</b></h2>
        </div>
        <div class="text-left">
            <h5>Lớp học: {{lophoc}}</h5>
            <h5>Môn học:{{tenmon}}</h5>
        </div>
        <table class="table table-bordered">
            <thead style="text-align: center;">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã học sinh</th>
                <th scope="col">Tên học sinh</th>
                <th scope="col">Điểm miệng</th>
                <th scope="col">Điểm 15'</th>
                <th scope="col">Điểm 1 tiết</th>
                <th scope="col">Điểm học kỳ</th>
                <th scope="col">Điểm trung bình</th>
            </tr>
            </thead>
            <tbody >
            <ng-container *ngFor="let item of diems, let i =index">
                <tr>
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;">{{ item.maHS }}</td>
                    <td>{{ item.tenHS}}</td>
                    <td style="text-align: center;">{{ item.diemMieng }}</td>
                    <td style="text-align: center;">{{ item.diem15Phut }}</td>
                    <td style="text-align: center;">{{ item.diem1Tiet }}</td>
                    <td style="text-align: center;">{{ item.diemHK }}</td>
                    <td style="text-align: center;">{{ item.diemTB }}</td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
 </div>